:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --font-primary: Roboto;
  --font-secondary: Raleway;
  --bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}
/*============================================header=============================================*/
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  align-items: center;
  display: flex;
}
.logo-head {
  margin-right: 93px;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web {
  color: var(--text-color-accent);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing);
}
.studio:focus,
.studio:hover {
  color: var(--text-color-accent);
}
.logo:hover,
.logo:focus {
  color: var(--text-color-accent);
}
.nav-site {
  display: flex;
}
.nav-site .item {
  margin-right: 50px;
}
.nav-site .link {
  color: var(--text-color-primary);
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms var(--bezier-timing);
}
.nav-site .item:last-child {
  margin-right: 0;
}
.link:hover,
.link:focus {
  color: var(--text-color-accent);
}
.nav-site .link .current {
  color: var(--text-color-accent);
}
.link.current {
  color: var(--text-color-accent);
}
.current::after {
  content: "";
  display: block;
  position: relative;
  top: 33px;

  width: 100%;
  height: 4px;
  background-color: var(--text-color-accent);
  border-radius: 2px;
}
.nav-auth {
  display: flex;
  margin-left: auto;
}
.nav-auth-kont {
  margin-right: 50px;
}
.nav-auth-kont:last-child {
  margin-right: 0;
}
.kontacts {
  display: inline-flex;
  align-items: center;
  color: var(--text-color-secondary);
  /*  padding-top: 32px;
    padding-bottom: 32px;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms var(--bezier-timing);
}
.nav-auth.nav-auth-kont:last-child {
  margin-right: 0;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.kontacts:hover,
.kontacts:focus {
  color: var(--text-color-accent);
}
/*==============================================hero=============================================*/
.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.3)
    ),
    url(../images/Img\ \(15\).jpg);
}
.hero-idea {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.service {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border-radius: 4px;
  border: transparent;

  color: #ffffff;
  background-color: var(--text-color-accent);
  cursor: pointer;

  transition: color 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing);
}
.service:hover,
.service:focus {
  color: var(--text-color-accent);
  background-color: #ffffff;
}

/*===========================================section features===============================================*/
.section {
  padding: 94px 0;
}
.features-list {
  display: flex;
}
.features-item {
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
.feature-idea {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature {
  margin-top: 10px;
  color: var(--text-color-secondary);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-item .feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
/*.icon { 
    
    width: 70px;
    height: 70px;
}*/
/*=================================================section photo===============================================*/
.photo {
  padding-top: 0;

  margin-left: auto;
  margin-right: auto;
}
.imgs {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo-item {
  margin-right: 30px;
}
.photo-item:last-child {
  margin-right: 0;
}
.photo-list {
  display: flex;
  margin-top: 50px;
}
.description-photo {
  position: relative;
}
.description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.description-title {
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/*===========================================section team=====================================================*/
.team {
  background: #f5f4fa;
}
.section .team {
  padding: 94px 0;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-links {
  display: flex;
  margin-top: 50px;
}
.team-link {
  margin-right: 30px;
}
.team-link:last-child {
  margin-right: 0;
}
.team-item {
  display: block;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-names {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-job {
  margin-top: 10px;
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*===============================================section social==============================================*/
.social-list {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}
.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: #afb1b8;

  transition: fill 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing);
}
.social-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  fill: #ffffff;
  background-color: var(--text-color-accent);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
/*================================================section clients============================================*/
.section-clients {
  padding: 94px auto;
  background-color: #e5e5e5;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.client-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms var(--bezier-timing),
    border-color 250ms var(--bezier-timing), fill 250ms var(--bezier-timing);
}
.client-item:last-child {
  margin-right: 0;
}

.client-link:hover,
.client-link:focus {
  color: var(--text-color-accent);
  border-color: var(--text-color-accent);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--text-color-accent);
}
.client-icon {
  fill: currentColor;
}
/*=================================================projects=================================================*/
.projects {
  display: block;
  margin-top: 94px;
  margin-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.cares {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.cares-item {
  margin-right: 8px;
}
.cares-item:last-child {
  margin-right: 0;
}
.care {
  color: var(--text-color-primary);
  background-color: #f5f4fa;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing),
    box-shadow 250ms var(--bezier-timing);
}
.care:hover,
.care:focus {
  color: #ffffff;
  background-color: var(--text-color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*============================================section products===============================================*/
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-item {
  display: block;
  align-items: center;
  width: 370px;

  margin: 0 30px 30px 0;
}
.product-link {
  display: block;
  align-items: center;
  background-color: #ffffff;
}
.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}
.product-item:nth-child(3n) {
  margin-right: 0;
}
.product-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-trait {
  margin-top: 4px;

  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.wrapper {
  width: 370px;

  position: relative;
}
.wrapper-box {
  position: relative;
  overflow: hidden;
}

.wrapper-text {
  background: rgba(33, 150, 243, 0.9);

  width: 370px;
  height: 294px;

  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--bezier-timing),
    box-shadow 250ms var(--bezier-timing);
}
.product-link:hover .wrapper-text,
.product-link:focus .wrapper-text {
  transform: translateZ(0);
  overflow: visible;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.wrapper:hover,
.wrapper:focus {
  transform: translateZ(100%);
  overflow: visible;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ===================================================footer============================================ */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-addres {
  flex-grow: 1;
}
.footer-logo {
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: #2f303a;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wb {
  color: var(--text-color-accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing);
}
.wbstudio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--text-color-accent);
}
.footer-addrs {
  margin-top: 20px;
}
.address {
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing);
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.address:hover,
.address:focus {
  color: var(--text-color-accent);
}
.contacts:hover,
.contacts:focus {
  color: var(--text-color-accent);
}
/*---section social footer---*/
.fsocial-title {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.fsocial-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.fsocial-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.fsocial-item:last-child {
  margin-right: 0;
}
.fsocial-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);

  transition: fill 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing);
}
.fsocial-icon {
  fill: #ffffff;
}
.fsocial-link:hover,
.fsocial-link:focus {
  fill: #ffffff;
  background-color: var(--text-color-accent);
}

.fsocial-link:hover .fsocial-icon,
.fsocial-link:focus .fsocial-icon {
  fill: #ffffff;
}
.subscribe {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  display: flex;
  align-items: flex-end;
}
.subscribe-div {
  display: inline-block;
  margin-right: 12px;
}
/*
.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
*/
.subscribe-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  cursor: pointer;
}
.subscribe-input {
  margin-top: 18px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}
.subscribe-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe-submit {
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.subscribe-submit {
  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.icon-send {
  margin-left: 10px;
}
/*===========================================модальне вікно================================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  opacity: 1;
  transition: opacity 250ms var(--bezier-timing);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;

  transform: translate(-50%, -50%);
  transition: transform 250ms var(--bezier-timing);

  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
/*
input {
  padding: 8px;
  font-family: inherit;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
*/
.modal-close:hover,
.modal-close:focus {
  fill: var(--text-color-accent);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--text-color-accent);
}

.form-container {
  width: 528px;
  height: 581px;
  padding: 40px;

  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.form-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  margin-bottom: 12px;
  text-align: center;
}
.form-sector {
  margin-bottom: 10px;
  position: relative;
}
.form-label {
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 4px;
  cursor: pointer;
  position: relative;
}
.form-input,
.form-messege {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.form-message {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-message:focus {
  outline: 1px solid #2196f3;
  border: 1px solid #2196f3;
}
.form-message::placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-title {
  padding-bottom: 4px;

  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--bezier-timing),
    outline 250ms var(--bezier-timing);
}
.form-input:focus {
  outline: 1px solid #2196f3;
}
.form-input:focus ~ .form-icon {
  fill: #2196f3;
}
.form-checkbox {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    cursor: pointer;
}

.checkbox-terms {
   
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    cursor: pointer;
}

.checkbox-terms .terms-link {
    color: var(--text-color-accent);
    text-decoration: underline;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  display: flex;
    /*
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; */
}

.checkbox-terms::before {
    content: "";
    display: inline-flex;
    text-align: center;
    width: 15px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}

.checkbox-icon {
    position: absolute;
    top: 3px;
    left: 12px;
    opacity: 0;
    pointer-events: none;
    
    background-color: var(--text-color-accent);
    fill: var(--background-main-color);       /*проблема===========подивись======================*/  
    border: 2px solid #2196F3;
    border-radius: 2px;
    cursor: pointer;

    /*transform: translatex(50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.checkbox:focus {
    outline-color: var(--text-color-accent);
    border: 2px solid #2196F3;
    border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
    /*transform: translatex(-50%);*/
    opacity: 1; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-origin: border-box;
}

.checkbox-button {
    margin: 0 auto;
}

/*
.form-checkbox {
  display: flex;
  justify-content: space-between;
}
.policy-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.policy-check::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 0px;

  border-radius: 2px;
  border: 2px solid #212121;
}
.checkbox-terms {
  display: flex;
  font-style: normal;
  font-size: 15px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  position: relative;
  top: 2px;
  color: #757575;
}

.policy-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  display: flex;
}
.policy-checkbox:checked + .policy-check::before {
  background-color: #2196f3;
}
.terms-link {
  text-decoration-line: underline;

  color: #2196f3;
}
*/
.sbm {

  text-align: center;
  width: 200px;
  height: 50px;
  
  margin: 0 124px;
  
  cursor: pointer;
  margin-bottom: 0;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.sbm-title {

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
