.projects {
  display: block;
  margin-top: 94px;
  margin-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.cares__list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.cares__item {
  margin-right: 8px;
}
.cares__item:last-child {
  margin-right: 0;
}
.cares__button {
  color: var(--text-color-primary);
  background-color: #f5f4fa;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing),
    background-color 250ms var(--bezier-timing),
    box-shadow 250ms var(--bezier-timing);
}
.cares__button:hover,
.cares__button:focus {
  color: #ffffff;
  background-color: var(--text-color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}